@media screen and (min-width: 69px) {html{font-size: 5px;}}
@media screen and (min-width: 169px) {html{font-size: 6px;}}
@media screen and (min-width: 269px) {html{font-size: 7px;}}
@media screen and (min-width: 369px) {html{font-size: 8px;}}
@media screen and (min-width: 469px) {html{font-size: 9px;}}
@media screen and (min-width: 569px) {html{font-size: 10px;}}
@media screen and (min-width: 669px) {html{font-size: 11px;}}
@media screen and (min-width: 769px) {html{font-size: 12px;}}
@media screen and (min-width: 869px) {html{font-size: 13px;}}
@media screen and (min-width: 969px) {html{font-size: 14px;}}
@media screen and (min-width: 1069px) {html{font-size: 15px;}}
@media screen and (min-width: 1169px) {html{font-size: 16px;}}